<div align="center" id="middle">
    <div class="newuser_box">

<h1>Editing bankdetail</h1>

<%= render 'form' %>

<a href="/clients/<%= @bankdetail.client_id %>/minutes/notices/<%= @bankdetail.notice_id %>/agenda/<%= @bankdetail.agenda_id %>/bankdetails/<%= @bankdetail.id %>">Show</a>
|
<a href="/clients/<%= @bankdetail.client_id %>/minutes/notices/<%= @bankdetail.notice_id %>/agenda/<%= @bankdetail.agenda_id %>/bankdetails/">Back</a>
</div>
</div>
