
<p><%= link_to "New other object", new_company_other_object_path ,:class=>"title" %></p>

<div align="center" id="middle">
  <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
				<tr>
					<th align="center" valign="middle" class="table-header-repeat line-left minwidth-1"><a href="">Description</a>	</th>
					<th align="center" valign="middle" class="table-header-options line-left"><a href="">Action</a></th>
				</tr>
				
<% @company_other_objects.each do |company_other_object| %>
	<tr>
	<td><%= link_to company_other_object.description, company_other_object %>
<td>
   <%= link_to '', company_other_object,:class=>"icon-1 info-tooltip" %>
   <%= link_to '', edit_company_other_object_path(company_other_object), :class=>"icon-2 info-tooltip" %>
   <a href="/company_other_objects/<%= company_other_object.id %>/delete" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class = "icon-3 info-tooltip" ></a>
<% end %>
</tr>

