<br/>
<h2>
<u style="color:#166496"><%= link_to 'Create New Din', new_din_path,:class=>"signup_button" %></u>
</h2>

<div align="center" id="middle">
  <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
				<tr>
					<th align="center" valign="middle" class="table-header-repeat line-left minwidth-1"><a href="">Name</a>	</th>
					<th align="center" valign="middle" class="table-header-repeat line-left"><a href="">Din No</a></th>
					<th align="center" valign="middle" class="table-header-options line-left"><a href="">Digital Signature</a></th>
					<th align="center" valign="middle" class="table-header-options line-left"><a href="">Expiry</a></th>
					<th align="center" valign="middle" class="table-header-options line-left"><a href="">Actions</a></th>
				</tr>
				
				<% @dins.each do |din| %>
				<% @contactdin =Contact.find_by_id(din.contact_id) %>
				<tr>
					<td><%= @contactdin.first_name rescue "" %>
						<%= @contactdin.middle_name rescue "" %>
						<%= @contactdin.last_name rescue "" %></td>
					<td><%= din.din_no %></td>
					<td><%= din.digital_signature %></td>
					<td><%= din.expiry %></td>
					<td class="options-width">
					    
					    <%= link_to '', din, :class=>"icon-1 info-tooltip" %>
					    <%= link_to '', edit_din_path(din), :class=>"icon-2 info-tooltip" %>
					    <a href="/dins/<%= din.id %>/delete" onclick="if(confirm('Are you sure you want to delete this contact?'))  return true;  else  return false;" class="icon-3 info-tooltip" ></a>
					    						
					</td>
				</tr>
				<% end %>
					
	  </table>
	  
	  <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
			<tr>
			<td>
				<a href= "" class="page-far-left"></a>
				<a href="" class="page-left"></a>
				<div id="page-info">Page <strong>1</strong> / 15</div>
				<a href="" class="page-right"></a>
				<a href="" class="page-far-right"></a>			</td>
			</tr>
			</table>
</div>
