<div align="center" id="middle">
    <div class="newuser_box">
	<center>
		<br/>
  <table border="" cellpadding="5">
  <tr>
    <th>City</th>
    <th>Bank name</th>
    <th colspan="3">Action</th>
   
  </tr>

<% @banks.each do |bank| %>
  <tr>
    <td><%= bank.city %></td>
    <td><%= bank.bank_name %></td>
    <td><%= link_to 'Show', bank %></td>
    <td><%= link_to 'Edit', edit_bank_path(bank) %></td>
   	  <td><a href="/banks/<%= bank.id %>/delete" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" >Destroy</a>
  </tr>
<% end %>
</table>
</center>
<br />

<%= link_to 'New Bank', new_bank_path %>

</div>
</div>

