<div align="center" id="middle">
    <div class="newuser_box">
	<script type="text/javascript">

function disableElement()
{

document.getElementById("compdir_cessation_date_1i").disabled=true;

document.getElementById("compdir_cessation_date_2i").disabled=true;

document.getElementById("compdir_cessation_date_3i").disabled=true;
}

function enableElement(){
	document.getElementById("compdir_cessation_date_1i").disabled=false;

document.getElementById("compdir_cessation_date_2i").disabled=false;

document.getElementById("compdir_cessation_date_3i").disabled=false;
}
function goBack()
  {
  window.history.back()
  }
</script>
<%= form_for(@compdir) do |f| %>
  <% if @compdir.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compdir.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @compdir.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
<<<<<<< HEAD

=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> aditya
  	<th>	<% @contacts.each do |c|%>
      	<%= "Directors:  #{c.din_id}" %> 
      	<% end %>

  	<th>Director: <%= @comp_dir %>
      	
<<<<<<< HEAD

=======
>>>>>>> 5fb2e0439c053b937a1fbe5ba553414fa2fa1ef8
=======
  	<th>Director: <%= @comp_dir %>
      	
>>>>>>> 852246ec39c8beb200a994203c47f254d0759306
>>>>>>> aditya
  <tr>
   <td>
    	Status : <br>
    <%= f.radio_button :status ,0,:onclick=>'disableElement()' %>Proposed director<br>
    	<%= f.radio_button :status ,1,:onclick=>"disableElement()" %>Current director<br>
    	<%= f.radio_button :status ,2,:onclick=>"enableElement()",:checked => true %>Old Director
    </td>
    
   <tr>
  	<td>Appointment Date :<br> <%= f.date_select :date %><br>
  		Cessation Date :<br> <%= f.date_select   :cessation_date %>  </td>
   
  <tr>
   
    
    <td>&nbsp;</td>
    <td> <%= f.submit "Update",  :locals => {:clientid => "#{params[:client_id]}" } %></td>
 
 
  	<td><input type="button" onclick="goBack()" value="Cancel" /> </tr>	
</table>
<% end %>


	 
    </div>
</div>
