<div align="center" id="middle">
    <div class="newuser_box4">
<center>
<table cellpadding="7">
		<tr>
		<th align="right">Client name:</th>
  		<td><%= @client.client_name %></td>
  		<td rowspan="2">
  			<% if current_user.role? :csadmin %>
  			<%= link_to 'Edit', edit_client_path(@client),  :class=>"signup_button" %> 
  			<% end %>			
    <tr>
  		<th>Applicant name:</th>
  		<td><%= @client.applicant_name %></td>

</table>

<h2><%= link_to 'Requirements', client_requirements_path(:client_id => @client.id) , :class=>"signup_button" %>
	<% unless @client.company_name.nil? %>
<%= link_to 'One click Company Incorporation', client_comp_incorps_path(:client_id => @client.id), :class=>"signup_button" %>
<%end%>

<% unless @client.incorporated_company_name.nil? %>
 
<%= link_to 'First Letter', client_first_letters_path(:client_id => @client.id), :class=>"signup_button" %>
<%= link_to 'Minutes', client_minutes_path(:client_id => @client.id), :class=>"signup_button" %></h2>

<%end%>
</center>
</div></div>
