  <center>
  <table cellpadding="10" >
  	<caption><h1>Form1a</h1></caption>
  	<tr>
  		<th align="right">Din Id :</th>
  		<td><%= @form1as.din_id %></td>
  	</tr>
  	
  	<tr>
  		<th align="right">Type of company :</th>
  		<td><%= @form1as.type_of_company %></td>
  	</tr>
  	
  	<tr>
  		<th align="right">Type :</th>
  		<td><%= @form1as.pvt_pub %></td>
  	</tr>
  	
  	<tr>
  		<th align="right">Categories :</th>
  		<td><%= @form1as.catagories %></td>
  	</tr>
  	
  	<tr>
  		<th align="right">Sub-Category :</th>
  		<td><%= @form1as.sub_cat %></td>
  	</tr>
  	
  	<tr>
  		<th align="right">Proposed Company :</th>
  		<td><%= @form1as.proposed_company %></td>
  	</tr>
	
	<tr>
		<th align="right">State :</th>
		<td><%= @form1as.state_id %></td>
	</tr>
  	
  	<tr>
  		<th align="right">Is Consonance with :</th>
  		<td><%= @form1as.is_consonance_with  %></td>
  	</tr>
  	
  	<tr>
  		<th align="right">Have Registered Trademark : </th>
  		<td><%= @form1as.have_registered_trade_mark %></td>
  	</tr>
  	
  	<tr>
  		<th align="right">Furnish Particulars Trademark :</th>
  		<td><%= @form1as.furnish_particulars_trade_mark %></td>
  	</tr>
  	<tr>
  		<th align="right">Proposed Authorised Capital :</th>
  		<td><%= @form1as.proposed_authorised_capital %></td>
  	</tr>
  	<tr>
  		<th align="right">Proposed Authorised Capital In Words :</th>
  		<td><%= @form1as.proposed_authorised_capital_in_words %></td>
  	</tr>

</table> 
<p>
	 <a href="/form1as/<%= @form1as.id %>/edit" class="signup_button" >Edit</a>
</p>
