<div id="middle">
  	<div class="tabscontainer">
     <div class="tabs">
         <div class="tab selected first" id="tab_menu_1">
             <div class="link">Personal</div>
             <div class="arrow"></div>
         </div>
         <div class="tab" id="tab_menu_2">
             <div class="link"><strong>Address1</strong></div>
             <div class="arrow"></div>
         </div>
          <div class="tab last" id="tab_menu_3">
             <div class="link"><strong>Address2</strong></div>
             <div class="arrow"></div>
         </div>
      </div>
	<div class="curvedContainer">
		<div class="tabcontent" id="tab_content_1" style="display:block">
<table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="right" valign="middle"><img src="images/avatar.jpg" alt="" width="78" height="80" /></td>
    <td align="left" valign="middle">&nbsp;</td>
    <td align="left" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td align="right" valign="middle">First Name</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.first_name %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Middle Name </td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.middle_name %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Last Name</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.last_name %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Father First Name</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.father_first_name %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Father Middle Name</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.father_middle_name %> </strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Father Last Name</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.father_last_name %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Is Indian </td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong>
      <label>
      <%= @contact.is_indian %></label>
    </strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Nationality</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.nationality %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Date of Birth</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong>
      <label>5<sup>th</sup> <%= @contact.dob %> </label>
    </strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Gender</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.gender %>  </strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Birth Place </td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.birth_place %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Pan No.</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.pan_no %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Voter Id</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.voter_id %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Passport No.</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.passport_no %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Driving licence No.</td>
    <td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.driving_licence_no %></strong></td>
  </tr>
</table>
</div>
		<div class="tabcontent" id="tab_content_2">
<table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="right" valign="middle">Line 1</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.per_line1 %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Line 2</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.per_line2 %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">City</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.per_city %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">State</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.per_state %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Pin</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.per_pin %></strong></td>
  </tr>
  <tr>
  <tr>
    <td align="right" valign="middle">ISO</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.per_ISO %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Country</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.per_country %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Phone No</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong> <%= @contact.per_phone_no %></strong>      </label></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Mobile No</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.per_mobile_no %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Fax No</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.per_fax_no %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Email Id</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.per_email_id %></strong></td>
  </tr>
  
  
  
  
  
  
</table>
		</div>
		<div class="tabcontent" id="tab_content_3">
			<table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="right" valign="middle">Line 1</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.present_line1 %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Line 2</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong> <%= @contact.present_line2 %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">City</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.present_city %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">State</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.present_state %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Pin</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.present_pin %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">ISO</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.present_ISO %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Country</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong> <%= @contact.present_country %></strong></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Phone No</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.present_phone_no %></strong>      </label></td>
  </tr>
  <tr>
    <td align="right" valign="middle">Fax No</td>
	<td align="left" valign="middle">:</td>
    <td align="left" valign="middle"><strong><%= @contact.present_fax_no %></strong></td>
  </tr>
  
  
  
  
  
  
</table>
		</div>
	</div>
	</div>
