<div style="width:35%;float:left">
<%= render 'requirements/style' %>
</div>
 <div align="center" id="middle" style="width: 50%;float: left">
    <div class="newuser_box">
	 <a id="various1" href="#inline1" title="" class="addlink">Company Director</a>
	  <p><a id="various2" href="#inline2" title="" class="addlink"> Company Share Holder</a></p>
    </div>
	
	
		<div style="display:none">
		
		<div id="inline1" style="width:450px; height:auto; overflow:auto; text-align:left">
<div>
	<script type="text/javascript">


</script>
<%= form_for(@compdir) do |f| %>
  <% if @compdir.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compdir.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @compdir.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="left" valign="middle"><strong>Select Din</strong></td>
    <td align="center" valign="middle">:</td>
  
    <td><%= select  :compdir, :din_id, @din_curr.map {|c| ["#{Contact.find_by_id(c.contact_id).first_name}", c.id]} %></td>
	 
  </tr>
   <tr>
   	  <td>
    	Status : <br>
    	 <%= f.radio_button :status ,0,:onclick=>'disableElement()' %>Proposed director<br>
    	<%= f.radio_button :status ,1,:onclick=>"disableElement()" %>Current director<br>
    	<%= f.radio_button :status ,2,:onclick=>"enableElement()",:checked => true %>Old Director
    </td>
    <tr>
  	<td>Appointment Date :<br> <%= f.date_select :date %><br>
  		 </td>
   <td><%= f.hidden_field :client_id, :value => "#{params[:client_id]}" %></td>
  
  
    <td>&nbsp;</td>
    <td> <%= f.submit "Save", :class=>"signup_button", :locals => {:clientid => "#{params[:client_id]}" } %></td>
  </tr>
  
</table>
<% end %>
 
<div class="heading1">List of added directors</div>
<div>
<div>

      	<% @contacts.each do |c|%>
    	 	<% if c.status == 0 %>
    	 	<%= "Directors:  #{c.din_id}" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	 	<%= "Status: Proposed Director" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	 	<%= "Appointment Date: #{c.date}" %>
<<<<<<< HEAD

=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> aditya
    	 	<a href="/compdirs/<%= c.id %>/edit" >Edit</a><br>

    	 	<a href="/clients/<%= params[:client_id]%>/requirements/din_details/compdirs/<%= c.id %>/edit" >Edit</a><br>
<<<<<<< HEAD

=======
>>>>>>> 5fb2e0439c053b937a1fbe5ba553414fa2fa1ef8
=======
    	 	<a href="/clients/<%= params[:client_id]%>/requirements/din_details/compdirs/<%= c.id %>/edit" >Edit</a><br>
>>>>>>> 852246ec39c8beb200a994203c47f254d0759306
>>>>>>> aditya
    	 	
    	 	<% elsif c.status == 1 %>
			<%= "Directors:  #{c.din_id}" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	 	<%= "Status: Current Director" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	 	<%= "Appointment Date: #{c.date}" %>    	 	
<<<<<<< HEAD

=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> aditya
    	  	<a href="/compdirs/<%= c.id %>/edit" >Edit</a><br>

    	 	<a href="/clients/<%= params[:client_id]%>/requirements/din_details/compdirs/<%= c.id %>/edit" >Edit</a><br>
<<<<<<< HEAD

=======
>>>>>>> 5fb2e0439c053b937a1fbe5ba553414fa2fa1ef8
=======
    	 	<a href="/clients/<%= params[:client_id]%>/requirements/din_details/compdirs/<%= c.id %>/edit" >Edit</a><br>
>>>>>>> 852246ec39c8beb200a994203c47f254d0759306
>>>>>>> aditya
    	 
    	 	<% elsif c.status == 2 %>
			<%= "Directors:  #{c.din_id}" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	 	<%= "Status: Old Director" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	 	<%= "Appointment Date: #{c.date}" %>   
<<<<<<< HEAD
    <a href="/compdirs/<%= c.id %>/edit" >Edit</a><br>

    	 	<a href="/clients/<%= params[:client_id]%>/requirements/din_details/compdirs/<%= c.id %>/edit" >Edit</a><br>
å
=======
<<<<<<< HEAD
<<<<<<< HEAD
    	  	<a href="/compdirs/<%= c.id %>/edit" >Edit</a><br>
=======
    	 	<a href="/clients/<%= params[:client_id]%>/requirements/din_details/compdirs/<%= c.id %>/edit" >Edit</a><br>
>>>>>>> 5fb2e0439c053b937a1fbe5ba553414fa2fa1ef8
=======
    	 	<a href="/clients/<%= params[:client_id]%>/requirements/din_details/compdirs/<%= c.id %>/edit" >Edit</a><br>
>>>>>>> 852246ec39c8beb200a994203c47f254d0759306
>>>>>>> aditya
    	<% end %>
    	
 	<% end %>
	
     
</div>
</div>
</div>
		</div>
		
</div>








<div style="display:none">
		
		<div id="inline2" style="width:500px; height:auto; overflow:auto; text-align:left">
<div>
	<%= form_for(@compshare) do |f| %>
  <% if @compshare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compshare.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @compshare.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="left" valign="middle"><strong>Select Share Holder</strong></td>
    <td align="center" valign="middle">:</td>
    <td><%= select  :compshare, :din_id, @din_currshr.map {|c| ["#{Contact.find_by_id(c.contact_id).first_name}", c.id]} %></td>
    
  </tr>
  <tr>
  	    <td><%= f.hidden_field :client_id, :value => "#{params[:client_id]}" %></td>
   </tr>  
    	  <tr>    
   	  <td>
    	Status : <br>
    
	
      	<%= f.radio_button :status ,0,:onclick=>'disableElement1()' %>Promoter<br>
    	<%= f.radio_button :status ,1 ,:onclick=>'disableElement1()'%>Current_Shareholder<br>
    	<%= f.radio_button :status ,2,:onclick=>'enableElement1()' ,:checked => true%>Old Shareholder
    </td>
   <tr><td>Appointment Date :<br> <%= f.date_select :date %><br>
   	        </td>
   	       
   	<tr>
    <td><%= f.label :is_director %>
        <%= f.check_box :is_director %></td></tr>
        <tr>  
        <td><%= f.label :is_promoter %>
        <%= f.check_box :is_promoter %></td></tr> 
       <tr><td><%= f.label :name_of_company%>
       	<%= f.text_field :name_of_company,:size =>15 %><td></tr>
          
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><%= f.submit "Save", :class=>"signup_button" %></td>
  </tr>
</table>
<% end %>
<div class="heading1">List of added Shareholders</div>
<div>
<div>
	<% @con.each do |c|%>
    	 	<% if c.status == 0 %>
    	 	<%= "Directors:  #{c.din_id}" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	 	<%= "Status: Promoter" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	 	<%= "Appointment Date: #{c.date}" %>
<<<<<<< HEAD

=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> aditya
    	 	<a href="/compdirs/<%= c.id %>/edit" >Edit</a><br>

    	   <a href="/clients/<%= params[:client_id]%>/requirements/din_details/compshares/<%= c.id %>/edit" >Edit</a><br>
<<<<<<< HEAD

=======
>>>>>>> 5fb2e0439c053b937a1fbe5ba553414fa2fa1ef8
=======
    	   <a href="/clients/<%= params[:client_id]%>/requirements/din_details/compshares/<%= c.id %>/edit" >Edit</a><br>
>>>>>>> 852246ec39c8beb200a994203c47f254d0759306
>>>>>>> aditya
    	 	
    	 	<% elsif c.status == 1 %>
			<%= "Directors:  #{c.din_id}" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	 	<%= "Status: Current Shareholder" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	 	<%= "Appointment Date: #{c.date}" %>    	 	
<<<<<<< HEAD

=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> aditya
    	  	<a href="/compdirs/<%= c.id %>/edit" >Edit</a><br>

    	   <a href="/clients/<%= params[:client_id]%>/requirements/din_details/compshares/<%= c.id %>/edit" >Edit</a><br>
<<<<<<< HEAD

=======
>>>>>>> 5fb2e0439c053b937a1fbe5ba553414fa2fa1ef8
=======
    	   <a href="/clients/<%= params[:client_id]%>/requirements/din_details/compshares/<%= c.id %>/edit" >Edit</a><br>
>>>>>>> 852246ec39c8beb200a994203c47f254d0759306
>>>>>>> aditya
    	 
    	 	<% elsif c.status == 2 %>
			<%= "Directors:  #{c.din_id}" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	 	<%= "Status: Old Shareholder" %>&nbsp;
    	 	<%= "Appointment Date: #{c.date}" %>   
<<<<<<< HEAD

=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> aditya
    	  	<a href="/compdirs/<%= c.id %>/edit" >Edit</a><br>

    	   <a href="/clients/<%= params[:client_id]%>/requirements/din_details/compshares/<%= c.id %>/edit" >Edit</a><br>
<br>
<<<<<<< HEAD
åå
=======
>>>>>>> 5fb2e0439c053b937a1fbe5ba553414fa2fa1ef8
=======
    	   <a href="/clients/<%= params[:client_id]%>/requirements/din_details/compshares/<%= c.id %>/edit" >Edit</a><br>
<br>
>>>>>>> 852246ec39c8beb200a994203c47f254d0759306
>>>>>>> aditya
    	<% end %>
    	
 	<% end %>
</div>
</div>
</div>
		</div>
		
</div>
   
 </div>
 </div>
 