<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CS Office</title>
<%= javascript_include_tag :defaults,'jquery-1.5.2.min' ,'prototype'%>

<%= csrf_meta_tag %>
 <%= stylesheet_link_tag 'style' %>
</head>

<body>
<div align="center" id="maindiv">
  <div id="header">
    <div id="header_wrap">
      <div id="logo">  
        <a href="/"><img src="/images/logo.png" alt="" border="0" /></a> </div>
	   
	   
      <div id="header_right">
        <%= form_for(:session, :url => sessions_path) do |f| %>
        <table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td align="left" valign="top" class="white_txt">Email</td>
            <td align="left" valign="top" class="white_txt">Password</td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top">
              
              <%= f.text_field :email, :class=>"textfield1" %>
           </td>
            <td align="left" valign="top">
              
              <%= f.password_field :password, :class=>"textfield1" %>
           </td>
            <td align="left" valign="top">
              
              <%= f.submit "Log In", :class=>"signup_button" %>
           </td>
          </tr>
          <tr>
            <td align="left" valign="top">
             <div style="width:20px; height:auto; float:left; text-align:left"> <input name="checkbox" type="checkbox" value="checkbox" /></div>
          
            <div style="padding-top:2px" class="red_txt">Keep me logged in </div></td>
            <td align="left" valign="top"><a href="/password_resets/new" class="fp">Forgot your password?</a></td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
        </table>
        <% end %>
      </div>
    </div>
	
    
  </div>
  <div id="header_shadow"></div>
  <%= content_tag 'div', h(flash[:notice]), :class => 'errorMsg', :id => 'notice' if flash[:notice] %>
  <%= content_tag 'div', h(flash[:error]), :class => 'errorMsg', :id => 'notice' if flash[:error] %>
  
  <%= yield %>
  
  <div id="footer">
    <div id="footer_wrap"><div id="copyright">CS Office &copy; 2012-2013</div> 

  <div style="float:left; width:90px; margin:20px 0 0 0">
      <a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" width="88" height="31" border="0" /></a>  </div>
    <div id="bottom_rightmenu"><a href="#" class="bm">About</a>     <a href="#" class="bm">Privacy Policy</a>    <a href="#" class="bm">Terms &amp; Condition</a>     <a href="#" class="bm">Help</a></div>

    </div>
  </div></div>
  </body>
  </html>
  
