<div align="center" id="middle">
    <div class="newuser_box">
<h1>Editing company_minute</h1>

<%= render 'form' %>
<a href="/clients/<%= @company_minute.client_id %>/minutes/notices/<%= @company_minute.notice_id %>/agenda/<%= @company_minute.agenda_id %>/company_minutes/<%= @company_minute.id %>">Show</a>
|
<a href="/clients/<%= @company_minute.client_id %>/minutes/notices/<%= @company_minute.notice_id %>/agenda/<%= @company_minute.agenda_id %>/company_minutes/">Back</a>

</div>
</div>
